.hero-section {
  @media (max-width: 768px) {
    padding-inline: 1rem;
  }

  &__title,
  &__subtitle {
    color: rgb(51, 51, 63);
    letter-spacing: 0%;
    text-align: center;
  }

  &__title {
    margin-top: 7.5rem;

    font-weight: 800;
    font-size: 3.75rem;
    line-height: 60px;

    @media (max-width: 768px) {
      margin-top: 1rem;

      font-size: 2.5rem;
      line-height: 55px;
    }
  }

  &__subtitle {
    margin-top: 3.25rem;

    font-weight: 400;
    font-size: 2.25rem;
    line-height: 40px;

    @media (max-width: 768px) {
      margin-top: 0.75rem;

      font-size: 1.125rem;
      line-height: 25px;
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.625rem;
  margin-inline: auto;
  padding-inline: 3rem;
  width: 100%;
  max-width: 1200px;

  @media (max-width: 768px) {
    margin-top: 2rem;
    padding-inline: 0;
  }

  &__left {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__button {
    border: 1px solid rgb(51, 51, 63);
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;

    color: rgb(51, 51, 63);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: left;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgb(51, 51, 63);
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;

    @media (max-width: 768px) {
      gap: 0.5rem;
      padding: 0.5rem 0.75rem;
    }

    select {
      appearance: none;

      color: rgb(51, 51, 63);
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 20px;
      text-align: left;

      @media (max-width: 768px) {
        font-size: 0.75rem;
        line-height: 16px;
      }
    }

    svg {
      flex-shrink: 0;
      width: 1.125rem;
      height: 1.125rem;

      @media (max-width: 768px) {
        width: 0.875rem;
        height: 0.875rem;
      }
    }
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2.5rem;
  margin-top: 3.5rem;
  margin-inline: auto;
  padding-inline: 3rem;
  width: 100%;
  max-width: 1200px;

  @media (max-width: 968px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    margin-top: 0;
    padding-inline: 0;
    padding-block: 1rem;
  }
}
